/* for desktop */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* navbar design start from here  */

.nav-logo{
    float: left;
}

.nav-heading{
    margin-top: 25px;
}
.nav-heading h1{
    float: right;
}

.navbar .nav-menu{
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 25px;
}

.navbar .nav-menu a{
    background-color: #1c6b72;
}
.navbar .nav-menu a:hover{
    background-color: gray;
}

/* navbar design end here  */

/* profile design from here  */

.profile{
    padding-bottom: 100px;
}
.profile .top-mi-icon{
    width: 70px;
    height: 120px;
    right: 160px;
    top: 20px;
    transition: width 3s, height 3s, transform 2s;
}
.profile .top-mi-icon:hover{
    width: 80px;
    height: 130;
}
.profile-desc p{
    color: gray;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 50%;
}
.profile .bottom-mi-icon{
    width: 70px;
    height: 120px;
    left: 160px;
    bottom: 2px;
    transition: width 3s, height 3s, transform 2s;
}
.profile .bottom-mi-icon:hover{
    width: 80px;
    height: 130;
}

/* profile design end here  */

/* about me design start from here */

.about-me h2{
    padding-top: 30px;
    font-size: 2rem;
}
.aboutme-img{
    margin-top: 60px;
}
.aboutme-img img{
    width: 250px;
    height: 270px;
}
.aboutme-desc p{
    text-align: left;
}

/* about me design end here */

/* professional experience  design start from here */

.professional-experience{
    padding: 1% 5%;
}
.professional-experience .card{
    height: 700px;
}

/* professional experience  design end here */

/* achievment contact design start from here */

.achievement{
    padding-right: 50px;
}

.contact button{
    width: 160px;
}

.contact-links{
    position: relative;
}
.media-buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 200px;
}

/* achievment contact design end here */

/* footer design start from here */

.footer-menu{
    margin-top: 10px;
}
 .footer-menu a{
     display: inline;
     margin: 10px;
 }

 .footer-desc{
     margin-top: 10px;
 }

/* footer design end here */